name: Deploy Website
on: [push]
jobs:
  deploy:
    runs-on:  macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: pip install -r requirements.txt
      - run: mkdocs build
      - run: cp site/404.html site/not_found.html
      - run: mkdir public
      - env:
         NEKOWEB_DIRECTORY: ${{ secrets.NEKOWEB_DIRECTORY }}
        run: mkdir public/$NEKOWEB_DIRECTORY
      - env:
         NEKOWEB_DIRECTORY: ${{ secrets.NEKOWEB_DIRECTORY }}
        run: cp -R site/* public/$NEKOWEB_DIRECTORY/
      - uses: indiefellas/deploy2nekoweb@main
        with:
          nekoweb-api-key: ${{ secrets.NEKOWEB_API_KEY }}
          nekoweb-domain: ${{ secrets.NEKOWEB_DOMAIN }}
          nekoweb-username: ${{ secrets.NEKOWEB_USERNAME }}
          directory: 'public'
